# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.virtualenv/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/
*.code-workspace

# Logs
*.log
error.log

# Environment variables
.env

# Docker
*.dockerenv
Dockerfile.*

# Build directories
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp
*.swo

# Media files
tutorial.mp4

# Compiled files
*.pyo
*.pyd

# Other
*.DS_Store
Thumbs.db
